header {background-color: chocolate;
    height:100%;
    width:20%;
    position: fixed;
    left:0;
    bottom: 0;
    z-index: 1;
    }

       aside a {text-decoration: none;
                   text-align: center;
                  color:black ;
                  background:burlywood;
                 line-height: 50px;
                display:block;
               padding: 5px;
              margin: 20px 20px;
              font-size: 1.5em;
            }
            aside a:hover{background-color: bisque;}
main {background-color: burlywood;
      height: 100%;
    width:80%;
      position: fixed;
      right:0;
    top:0;}






article {margin-left:3%; margin-right: 3% ;
         padding-top: 3%;}

    body {height:100%;
    }